body {
    font-size: 16px;
    color: #f7f7f7;
    font-family: 'Oxygen', sans-serif;
}

#header-nav {
    background-color: #cceabb;
    border: 0;
}
.navbar-brand {
    font-family: 'lora', serif;
    color: #000;
    font-size: 1.5rem;
    float: left;
    margin: 0;
}

.nav-link{
    color: #000;
    text-align: center;
}

.menu{
    text-align: center;
    background-color: #3f3f44;
    color: #000;
    font-family: 'lora', serif;
}

#food h3{
text-align: center;
color: #000;
}

#food p{
    color: #000;
    margin-top: 15px;
}

#s1{
    background-color: #cceabb;
}

#s2{
    background-color: #cceabb;
}

#s3{
    background-color: #cceabb;
}
